*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header{
    background-color: black;
    
}
.container{
    width: 90%;
    margin: 0 auto;
    
    
    border: 1px solid black;
}
.row{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.col{
    border: 1px solid black;
    text-transform: uppercase;
    
}
.logo h1{
    color: rgb(82, 110, 110);
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
}
.logo h1:hover{
    color:brown;
    border-radius: 1rem;

    background-color: rgb(30, 32, 156);
    
}
.list ul li{
    padding: 1rem;
    font-size: 1rem;
    display: inline-block;
}
.list ul li a{
    color: rgb(218, 161, 77);
} 
.list ul li a:hover{
    color:blue;
}
.btn button{
    color: blueviolet;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    background-color: aquamarine;
}
.btn button:hover{
    color: rgb(107, 18, 18);
    
    border-radius: 1rem;
    background-color: rgb(52, 119, 52);
}
